.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.img:hover {

  height: 500px;
  -webkit-transform: scale3d(1.5,1.5,1.5);
  -moz-transform: scale3d(1.5,1.5,1.5);
  -o-transform: scale3d(1.5,1.5,1.5);
  transform: scale3d(1.5,1.5,1.5);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;

}

.btnAccessibility{
  width: 65px;
  height:65px;
  background-color: #37389a ;
  border-radius: 50%;
  padding: 1px;
  position :fixed;
  bottom:30%;
  right:8px;
  z-index:99999;
}

.btnAccessibility:hover{
  cursor: pointer;
}

/* increaseFont */

.increaseFont1 * {
  font-size: 16px !important;
}

.increaseFont2 * {
  font-size: 18px !important;
}

.increaseFont3 * {
  font-size: 20px !important;
}

.increaseFont4 * {
  font-size: 22px !important;
}

.increaseFont1 .service_name_style  * {
  height:80px;
}

.svg-map {
  width: 100%;
  height: auto;
}



.svg-map {
  width: 100%;
  height: 47vh;
  stroke: #666;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round; }
.svg-map__location {
  fill: #a1d99b;
  cursor: pointer; }
.svg-map__location:focus, .svg-map__location:hover {
  fill: #b8e2b3;
  outline: 0; }
.svg-map__location[aria-checked=true] {
  fill: #f4bc44; }